
.main-objetive{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 50vh;
}
.ul-objetive{
    font-size: 1.5rem;
    text-align: center;
}
