.main-who{
    text-align: center;
    background-color: #f5f5f5;
}
.home-title{
    font-weight: 500;
    font-size: 3.2rem;
}
.section-timeline{
    justify-content: left;
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    background-color: #ffffff5e;
    border-radius: 1rem;
}
.h3-nav{
    display: block;
}
.section-us{
    height: 80vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 10rem;
}
.div-us{
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 1000px;
    width: 1000px;
    
}
.div-each{
    height: 100%;
    width: 100%;
    background-color: #f8be8e;
}

.ul-timeline{
    list-style-type: none;
    display: inline-block;
    width: 20vw;
}
.li-timeline-{
    margin-top: 1vh;

}
.li-timeline{
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 1.2rem;
    transition: 0.3s;
    border-bottom: 1px solid #000;
    transition: border-bottom-width 1s ease;
    transition: border-bottom-color 1s ease;
}
.li-timeline:hover{
    border-bottom-width: 2px;
    border-bottom-color: #000;
    
}
.main-margin{
    margin-top: 6vh;
}
.img-grupo{
    border-radius: 1rem;
}
.hover-div{
    width: 50px;
    height: 50px;
    position: absolute;
}
.div-start-page{
    position: fixed;
    margin: 1rem;
    padding: 0.5rem;
    size: 50%;
    justify-self: end;
    bottom: 0;
    right: 0;
    align-self: flex-end;
}
.button-start-page{
    padding: 0.5rem;

    background-color: #396164;
    border: 1px #f4fcae inset;
}
@media (max-width: 600px) {
    .main-who{
        display: block;
    }
    .section-timeline{
        width: 300px;
        height: 10vh;
    }
    .ul-timeline{
        display: inline-flex;
    }
    .img-grupo{
        width: 90vw;
        height: 50vh;
    }
    .div-space{
        margin: 1rem;
    }
}