.main-who{
    text-align: center;
}
.section-timeline{
    justify-content: left;
    display: flex;
    position: fixed;
    background-color: #ffffff5e;
    width: 16vw;
    border-radius: 1rem;
}
.ul-timeline{
    list-style-type: none;
    display: inline-block;
    width: 70vw;
    align-items: center;
}
.li-timeline-{
    margin-top: 1vh;

}
.li-timeline{
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 1.2rem;
    transition: 0.3s;
    border-bottom: 1px solid #000;
    transition: border-bottom-width 1s ease;
    transition: border-bottom-color 1s ease;
}
.li-timeline:hover{
    border-bottom-width: 2px;
    border-bottom-color: #000;
    
}
.main-margin{
    margin-top: 6vh;
}
.hover-div{
    width: 50px;
    height: 50px;
    position: absolute;
}
.div-start-page{
    position: fixed;
    bottom: 0;
    margin: 1rem;
    padding: 0.5rem;
    right: 0;
    size: 50%;
}
.button-start-page{
    padding: 0.5rem;

    background-color: #396164;
    border: 1px #f4fcae inset;
}