.main-timeline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    align-items: center;
}
.div-timeline{
    display: inline-flex;
    width: 70%;
    border-bottom: 4px solid #000;
    position: static;
    max-width: 1280px;
    justify-self: center;
    margin-top: 10vh;
    justify-content: space-evenly;
}

.p-timeline{
    font-size: 2rem;
    text-align: center;
}
.div-year{
    margin-top: 2vh;
    border-right: 4px solid #000;
    width: 100%;
    transition: 0.3s;
    padding: 0.5rem;
}
.div-year:hover{
    background-color: #396164;
    color: #f8be8e;
}
.div-year:hover .div-p-time{
    opacity: 0.4;
}
.div-p-time{
    position: absolute;
    margin-top: 5vh;
    font-size: 2rem;
    text-align: center;
    transition: opacity 0.5s ease-in-out 0s;
}