.div-form{
    margin-top: 10vh;
    display: flex;
    width: 100vw;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.form-msg{
    padding: 2rem;
    border: 2px inset #000;
    border-radius: 2rem;
    flex-flow: column nowrap;
    display: flex;
    justify-self: center;
    width: 50vw;
    height: 80vh;
}
.div-section{
    margin: 5vh 0 0 0;
    display: grid;
    grid-template-rows: 50% 50%;
}
#input{
    border-radius: 0.5rem;
    padding-left: 5px;
}
.label{
    font-weight: 500;
}
.h1-form{
    text-align: center;
}
.msg{
    height: 20vh;
    margin-top: -5vh;
    text-align: left;
}
.btn-send{
    background-color: #f8be8e;
    border: 1px inset #687a86;
    width: 10vw;
    height: 5vh;
    border-radius: 1rem;
    font-weight: 800;
    margin-top: 8vh;
    box-sizing: border-box;
    font-size: 1rem;
    text-decoration: none;
    color: #000;
    text-align: center;
   
    align-self: center;
}
@media (max-width: 500px){
    .form-msg{
        width: 90vw;
        height: 75vh;
    }
    .label{
        font-size: 2rem;
        margin-bottom: 1vh;
    }
    .btn-send{
        width: 20vw;
        height: 15vh;
    }
}