.div-form{
    margin-top: 10vh;
    display: flex;
    width: 100vw;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.form-msg{
    padding: 2rem;
    border: 2px inset #000;
    border-radius: 2rem;
    flex-flow: column wrap;
    display: flex;
    justify-self: center;
    width: 50vw;
    height: 70vh;
}
.div-section{
    margin: 5vh 0 0 0;
    display: grid;
    grid-template-rows: 50% 50%;
}
#input{
    border-radius: 0.5rem;
    padding-left: 5px;
}
.label{
    font-weight: 500;
}
.h1-form{
    text-align: center;
}
.msg{
    height: 20vh;
    margin-top: -5vh;
    text-align: left;
}
@media (max-width: 500px){
    .form-msg{
        width: 90vw;
        height: 75vh;
    }
    .label{
        font-size: 2rem;
        margin-bottom: 1vh;
    }
}