.home-title{
    font-weight: 500;
    font-size: 3.2rem;
}
.img-car{
    height: fit-content;
}
.main-margin{
    margin-top: 10vh;
}
@media (max-width: 600px) {
    .article-home{
        display: flex;
        justify-content: center;
    }
    .section-history{
        width: 90vw;
    }
}
