.my-menu {
    background-color: #396164;
    position: fixed;
    top: 0;
    text-align: center;

}
.menu-item {
    text-decoration: none;
    color: #f8be8e;
    font-size: 1.5rem;
    transition: 0.3s;
    border-bottom: 1px solid transparent;
    transition: border-bottom-width 1s ease;
    transition: border-bottom-color 1s ease;
}
.a-nav:hover {
    border-bottom-width: 1px;
    border-bottom-color: #f8be8e;
}
