.footer {
  height: 23vh;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #396164;
  width: 100%;
  margin: 0;
}
.small-footer {
  color: #f8be8e;
  font-size: 1.5rem;
}
.section-footer {
  display: flex;
  flex-flow: column wrap;
}
.section-left {
  justify-self: left;
}
.section-center {
  justify-self: center;
}
.section-right {
  justify-self: right;
}
.cytech {
  color: #fff;
}
.figure-insta {
  display: inline-flex;
}

@media (max-width: 500px) {
    .footer{
        height: 32vh;
        grid-template-columns: 60% 20%;
    }
}
