.div-how{
    display: grid;
    grid-template-columns: 20% 20%;
    grid-template-rows: 50% 50%;
    justify-content: center;
}
.section-materials{
    border: 2px #396164 inset;
    
    border-radius: 2rem;
    padding: 1.5rem;
    margin: 0.5rem;

}
.section-how{
    height: 100vh;
}
.h2-how{
    text-align: center;
    margin-top: 10vh;
}
.smaller{
    font-size: 1.5rem;
}
.section-timeline{
    justify-content: left;
    display: flex;
    position: fixed;
    background-color: #ffffff5e;
    width: 16vw;
    border-radius: 1rem;
}
.h3-nav{
    display: block;
    text-align: center;
}
.ul-timeline{
    list-style-type: none;
    display: inline-block;
}
.li-timeline-{
    margin-top: 1vh;

}
.li-timeline{
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 1.2rem;
    transition: 0.3s;
    border-bottom: 1px solid #000;
    transition: border-bottom-width 1s ease;
    transition: border-bottom-color 1s ease;
}
.li-timeline:hover{
    border-bottom-width: 2px;
    border-bottom-color: #000;
    
}
.main-margin{
    margin-top: 10vh;
}
.ul-services{
    font-size: 1.8rem;
}
.h1-services{
    text-align: center;
    text-decoration: underline 1px;
    font-size: 2rem;
    
}
.svg-images{
    position: fixed;
}
.div-center{
    text-align: center;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    justify-content: space-evenly;
}
.section-workus{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.div-workus{
    display: grid;
    grid-template-columns: 70% 50%;
    justify-content: space-around;
}
.a-social{
    margin-left: 1vw;
}
.div-right{
    justify-self: flex-end;
}
.div-left{
    justify-self: flex-start;
}
.flor{
    margin-top: 5vh;
}